<h1 class="navbar-lewagon"><%= @cocktail.name %></h1>
<% if @cocktail.photo.attached? %>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<% end %>




",
      width: 400, height: 300, crop: :fill) %>
<% @doses.each do |dose| %>
<div>
  <div class="boxed container">
    <p>Ingredient: <%= dose.ingredient.name %></p>
    <div>
      <%= link_to 'Delete Dose', dose_path(dose), method: :delete, class: 'show_delete_button' %>
    </div>
    <% end %>
  </div>

</div>
<div class="center">
  <p><%= link_to 'Go Back', cocktails_path, class: 'edit_button' %></p>
  <p><%= link_to 'New Dose', new_cocktail_dose_path(@cocktail), class: 'edit_button' %></p>
</div>

